@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-blur-custom {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.backdrop-blur-large-custom {
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
